body {
  color: hsl(232, 13%, 33%);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 0;
}

h5 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.outer-container {
  background-color: hsl(240, 78%, 98%);
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
}

.pricing-title {
  color: hsl(233, 13%, 49%);
  padding-top: 2em;
  text-align: center;
}

.toggle-container {
  justify-content: center;
  margin-top: 1em;
}

.toggle-text {
  color: hsl(234, 14%, 74%);
  font-size: 12px;
}

/* TOGGLE */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-toggle {
  margin-right: 1em;
  margin-left: 1em;
}

/* CARDS */

.cards-container {
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.cards {
  background-color: white;
  height: 25em;
  margin-top: 1.6em;
  width: 20em;
  border-radius: 0.6em;
  text-align: center;
}

.card-professional {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.card-master {
  margin-bottom: 2em;
}

.card-title {
  color: hsl(233, 13%, 49%);
  padding-top: 1em;
}

.pricing-container {
  align-items: center;
  justify-content: center;
}

.pricing-symbol {
  font-size: 2em;
}
.card-pricing {
  font-size: 4em;
  margin: 0.2em;
}

.card-plan {
  color: hsl(233, 13%, 49%);
  font-size: 12px;
}

.line-separator {
  background-color: hsl(234, 14%, 74%);
  border: 0;
  height: 0.2px;
  width: 16em;
}

.btn-learn-more {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border: 0;
  border-radius: 0.4em;
  height: 3.4em;
  margin-top: 1.4em;
  width: 18em;
}

.btn-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
}

.btn-learn-more:focus {
  outline-style: none;
}

/* PROFESSIONAL CARD */
.pro-text {
  color: white;
}

.pro-btn-learn-more {
  background-image: none;
  background-color: white;
}

.pro-btn-text {
  color: hsl(237, 63%, 64%);
}

.pro-ls {
  background-color: white;
}

/* DESKTOP VIEW */

@media only screen and (min-width: 960px) {
  .outer-container {
    width: 100vw;
    height: 100vh;
  }

  .cards-container {
    flex-direction: row;
    justify-content: center;
  }

  .card-master {
    margin-bottom: 0;
  }

  .card-professional {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    box-shadow: 0 0 12px hsl(234, 100%, 90%);
    color: white;
    height: 28em;
    z-index: 1;
  }
}
